<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ projectName }}</title>
		<meta name="description" content="{{ description }}">
		<link rel="stylesheet" href="{{ rootPath }}styles/main.css{{ version }}">

		{% for weight in [400, 700] %}
			<link rel="preload" href="fonts/ptsans-{{ weight }}.woff2" as="font" crossorigin="anonymous">
		{% endfor %}
	</head>
	<body>

		<div class="page">
			<h1 class="visually-hidden">QSOFT</h1>
			<header class="page-header">
				<div class="page-header__container">
					<a class="logo page-header__logo" aria-current="page">
						<span class="visually-hidden">На&nbsp;главную.</span>
						<img src="../images/sprite.svg#logo" width="135" height="30" alt="Логотип QSOFT.">
					</a>
					<div class="search page__search-wrapper">
						<input class="search__searchbar" type="text" maxlength="12" placeholder="Найти...">
						<img src="../images/sprite.svg#icon-search" class="search__button" width="24" height="24" alt="search icon.">
					</div>
					<button class="page-header__profile" type="button">
						<span class="page-header__profile-name">Константин</span>
						<img class="page-header__profile-picture" src="../images/avatar.jpg" width="40" height="40" alt="Профиль.">
						<img class="page-header__profile-icon" src="../images/sprite.svg#icon-people" width="24" height="24" alt="Профиль.">
					</button>
				</div>
			</header>

			<main>
				<section class="partners page__partners">
					<h2 class="partners__label">наши партнёры</h2>
					<ul class="partners__list">
						<li class="partners__item">
							<img src="../images/henkel.jpg" class="partners__image" width="145" height="82" alt="search icon.">
						</li>
						<li class="partners__item">
							<img src="../images/john.jpg" class="partners__image" width="234" height="44" alt="search icon.">
						</li>
						<li class="partners__item">
							<img src="../images/mc.jpg" class="partners__image" width="100" height="75" alt="search icon.">
						</li>
						<li class="partners__item">
							<img src="../images/ikea.jpg" class="partners__image" width="194" height="78" alt="search icon.">
						</li>
						<li class="partners__item">
							<img src="../images/reebor.jpg" class="partners__image" width="232" height="48" alt="search icon.">
						</li>
						<li class="partners__item">
							<img src="../images/nike.jpg" class="partners__image" width="141" height="74" alt="search icon.">
						</li>
						<li class="partners__item">
							<img src="../images/catep.jpg" class="partners__image" width="247" height="38" alt="search icon.">
						</li>
					</ul>
				</section>
			</main>
		</div>


		{# For svelte #}
		{# <div class="page">{{ app.page }}</div> #}

		{# For vue #}
		{# {{ app.page }} #}

			<script>
window.appData = {{ appData|json_encode() }};
		</script><script src="{{ rootPath }}scripts/main.js{{ version }}"> </script>

		{% if isDev %}
			<script>
				window.pixelperfect = {{ pixelperfect }};
			</script>
			<script src="https://efiand.github.io/pixelperfect-tool/pixelperfect.min.js"></script>
		{% endif %}
	</body>
</html>
